In [1]:
import pandas as pd 
from pathlib import Path

In [5]:
# All ethnicities broken out per year (2015-2019)

all_race_2015 = pd.read_csv("Each_Year_CSV/2015_all_sex_all_race.csv", skiprows=2)
all_race_2016 = pd.read_csv("Each_Year_CSV/2016_all_sex_all_race.csv", skiprows=2)
all_race_2017 = pd.read_csv("Each_Year_CSV/2017_all_sex_all_race.csv", skiprows=2)
all_race_2018 = pd.read_csv("Each_Year_CSV/2018_all_sex_all_race.csv", skiprows=2)
all_race_2019 = pd.read_csv("Each_Year_CSV/2019_all_sex_all_race.csv", skiprows=2)

,County,Population at Risk,Cases,Crude Rate,Age-adjusted Rate,95% Confidence Interval-Lower Limit,95% Confidence Interval-Upper Limit
0,Collingsworth,3007.0,~,~,~,~,~
1,Blanco,11030.0,20,181.3,136.8,77.5,225.9
2,Hall,3093.0,~,~,~,~,~
3,Cottle,1437.0,~,~,~,~,~
4,Mason,4063.0,~,~,~,~,~