In [1]:
import pandas as pd 
from pathlib import Path

In [2]:
# All ethnicities broken out per year (2015-2019)

all_race_2015 = pd.read_csv("Each_Year_CSV/2015_all_sex_all_race.csv", skiprows=2).replace("~",0, regex=True)
all_race_2016 = pd.read_csv("Each_Year_CSV/2016_all_sex_all_race.csv", skiprows=2).replace("~",0, regex=True)
all_race_2017 = pd.read_csv("Each_Year_CSV/2017_all_sex_all_race.csv", skiprows=2).replace("~",0, regex=True)
all_race_2018 = pd.read_csv("Each_Year_CSV/2018_all_sex_all_race.csv", skiprows=2).replace("~",0, regex=True)
all_race_2019 = pd.read_csv("Each_Year_CSV/2019_all_sex_all_race.csv", skiprows=2).replace("~",0, regex=True)

In [3]:
# NH White broken out per year (2015-2019)

NHwhite_2015 = pd.read_csv("Each_Year_CSV/2015_all_sex_NHwhite.csv", skiprows=2).replace("~",0, regex=True)
NHwhite_2016 = pd.read_csv("Each_Year_CSV/2016_all_sex_NHwhite.csv", skiprows=2).replace("~",0, regex=True)
NHwhite_2017 = pd.read_csv("Each_Year_CSV/2017_all_sex_NHwhite.csv", skiprows=2).replace("~",0, regex=True)
NHwhite_2018 = pd.read_csv("Each_Year_CSV/2018_all_sex_NHwhite.csv", skiprows=2).replace("~",0, regex=True)
NHwhite_2019 = pd.read_csv("Each_Year_CSV/2019_all_sex_NHwhite.csv", skiprows=2).replace("~",0, regex=True)

In [4]:
# NH Black broken out per year (2015-2019)

NHblack_2015 = pd.read_csv("Each_Year_CSV/2015_all_sex_NHblack.csv", skiprows=2).replace("~",0, regex=True)
NHblack_2016 = pd.read_csv("Each_Year_CSV/2016_all_sex_NHblack.csv", skiprows=2).replace("~",0, regex=True)
NHblack_2017 = pd.read_csv("Each_Year_CSV/2017_all_sex_NHblack.csv", skiprows=2).replace("~",0, regex=True)
NHblack_2018 = pd.read_csv("Each_Year_CSV/2018_all_sex_NHblack.csv", skiprows=2).replace("~",0, regex=True)
NHblack_2019 = pd.read_csv("Each_Year_CSV/2019_all_sex_NHblack.csv", skiprows=2).replace("~",0, regex=True)

In [5]:
# Hispanic broken out per year (2015-2019)

hispanic_2015 = pd.read_csv("Each_Year_CSV/2015_all_sex_hispanic.csv", skiprows=2).replace("~",0, regex=True)
hispanic_2016 = pd.read_csv("Each_Year_CSV/2016_all_sex_hispanic.csv", skiprows=2).replace("~",0, regex=True)
hispanic_2017 = pd.read_csv("Each_Year_CSV/2017_all_sex_hispanic.csv", skiprows=2).replace("~",0, regex=True)
hispanic_2018 = pd.read_csv("Each_Year_CSV/2018_all_sex_hispanic.csv", skiprows=2).replace("~",0, regex=True)
hispanic_2019 = pd.read_csv("Each_Year_CSV/2019_all_sex_hispanic.csv", skiprows=2).replace("~",0, regex=True)

In [6]:
# NH Asian/PI broken out per year (2015-2019)

NHasianPI_2015 = pd.read_csv("Each_Year_CSV/2015_all_sex_NHasian-pi.csv", skiprows=2).replace("~",0, regex=True)
NHasianPI_2016 = pd.read_csv("Each_Year_CSV/2016_all_sex_NHasian-pi.csv", skiprows=2).replace("~",0, regex=True)
NHasianPI_2017 = pd.read_csv("Each_Year_CSV/2017_all_sex_NHasian-pi.csv", skiprows=2).replace("~",0, regex=True)
NHasianPI_2018 = pd.read_csv("Each_Year_CSV/2018_all_sex_NHasian-pi.csv", skiprows=2).replace("~",0, regex=True)
NHasianPI_2019 = pd.read_csv("Each_Year_CSV/2019_all_sex_NHasian-pi.csv", skiprows=2).replace("~",0, regex=True)

In [29]:
# NH American Indian/Alaskan broken out per year (2015-2019)

NHamerIndian_alaskan_2015 = pd.read_csv("Each_Year_CSV/2015_all_sex_NHamerIndian_alaskan.csv", skiprows=2).replace("~",0, regex=True)
NHamerIndian_alaskan_2016 = pd.read_csv("Each_Year_CSV/2016_all_sex_NHamerIndian_alaskan.csv", skiprows=2).replace("~",0, regex=True)
NHamerIndian_alaskan_2017 = pd.read_csv("Each_Year_CSV/2017_all_sex_NHamerIndian_alaskan.csv", skiprows=2).replace("~",0, regex=True)
NHamerIndian_alaskan_2018 = pd.read_csv("Each_Year_CSV/2018_all_sex_NHamerIndian_alaskan.csv", skiprows=2).replace("~",0, regex=True)
NHamerIndian_alaskan_2019 = pd.read_csv("Each_Year_CSV/2019_all_sex_NHamerIndian_alaskan.csv", skiprows=2).replace("~",0, regex=True)

In [30]:
# Add "Year" and "Race" columns to DataFrame and concatenate DataFrames

df_list = []

def year_race_col (df, year, race):
    df["Year"] = year
    df["Race"] = race
    df.dropna(how="any", inplace=True)
    df_list.append(df)

year_race_col(all_race_2015, 2015, "All Races")
year_race_col(all_race_2016, 2016, "All Races")
year_race_col(all_race_2017, 2017, "All Races")
year_race_col(all_race_2018, 2018, "All Races")
year_race_col(all_race_2019, 2019, "All Races")

year_race_col(NHwhite_2015, 2015, "Non-Hispanic White")
year_race_col(NHwhite_2016, 2016, "Non-Hispanic White")
year_race_col(NHwhite_2017, 2017, "Non-Hispanic White")
year_race_col(NHwhite_2018, 2018, "Non-Hispanic White")
year_race_col(NHwhite_2019, 2019, "Non-Hispanic White")

year_race_col(NHblack_2015, 2015, "Non-Hispanic Black")
year_race_col(NHblack_2016, 2016, "Non-Hispanic Black")
year_race_col(NHblack_2017, 2017, "Non-Hispanic Black")
year_race_col(NHblack_2018, 2018, "Non-Hispanic Black")
year_race_col(NHblack_2019, 2019, "Non-Hispanic Black")

year_race_col(hispanic_2015, 2015, "Hispanic")
year_race_col(hispanic_2016, 2016, "Hispanic")
year_race_col(hispanic_2017, 2017, "Hispanic")
year_race_col(hispanic_2018, 2018, "Hispanic")
year_race_col(hispanic_2019, 2019, "Hispanic")

year_race_col(NHasianPI_2015, 2015, "Non-Hispanic Asian")
year_race_col(NHasianPI_2016, 2016, "Non-Hispanic Asian")
year_race_col(NHasianPI_2017, 2017, "Non-Hispanic Asian")
year_race_col(NHasianPI_2018, 2018, "Non-Hispanic Asian")
year_race_col(NHasianPI_2019, 2019, "Non-Hispanic Asian")

year_race_col(NHamerIndian_alaskan_2015, 2015, "Non-Hispanic American Indian/Alaskan")
year_race_col(NHamerIndian_alaskan_2016, 2016, "Non-Hispanic American Indian/Alaskan")
year_race_col(NHamerIndian_alaskan_2017, 2017, "Non-Hispanic American Indian/Alaskan")
year_race_col(NHamerIndian_alaskan_2018, 2018, "Non-Hispanic American Indian/Alaskan")
year_race_col(NHamerIndian_alaskan_2019, 2019, "Non-Hispanic American Indian/Alaskan")

combined_df = pd.concat(df_list)
combined_df

,County,Population at Risk,Cases,Crude Rate,Age-adjusted Rate,95% Confidence Interval-Lower Limit,95% Confidence Interval-Upper Limit,Year,Race
0,Collingsworth,3007.0,0,0,0,0,0,2015,All Races
1,Blanco,11030.0,20,181.3,136.8,77.5,225.9,2015,All Races
2,Hall,3093.0,0,0,0,0,0,2015,All Races
3,Cottle,1437.0,0,0,0,0,0,2015,All Races
4,Mason,4063.0,0,0,0,0,0,2015,All Races
...,...,...,...,...,...,...,...,...,...
16,Montgomery,2503.0,0,0,0,0,0,2019,Non-Hispanic American Indian/Alaskan
17,Bell,1891.0,0,0,0,0,0,2019,Non-Hispanic American Indian/Alaskan
18,Bexar,5788.0,0,0,0,0,0,2019,Non-Hispanic American Indian/Alaskan
19,Nueces,1012.0,0,0,0,0,0,2019,Non-Hispanic American Indian/Alaskan
20,STATE,107768.0,408,378.6,326.5,294.4,361.2,2019,Non-Hispanic American Indian/Alaskan

In [31]:
combined_df_reindex = combined_df.reindex(columns=[
    "Year", "Race", "County", "Population at Risk", 
    "Cases", "Crude Rate", "Age-adjusted Rate", 
    "95% Confidence Interval-Lower Limit", 
    "95% Confidence Interval-Upper Limit"])

In [32]:
combined_df_reindex

,Year,Race,County,Population at Risk,Cases,Crude Rate,Age-adjusted Rate,95% Confidence Interval-Lower Limit,95% Confidence Interval-Upper Limit
0,2015,All Races,Collingsworth,3007.0,0,0,0,0,0
1,2015,All Races,Blanco,11030.0,20,181.3,136.8,77.5,225.9
2,2015,All Races,Hall,3093.0,0,0,0,0,0
3,2015,All Races,Cottle,1437.0,0,0,0,0,0
4,2015,All Races,Mason,4063.0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
16,2019,Non-Hispanic American Indian/Alaskan,Montgomery,2503.0,0,0,0,0,0
17,2019,Non-Hispanic American Indian/Alaskan,Bell,1891.0,0,0,0,0,0
18,2019,Non-Hispanic American Indian/Alaskan,Bexar,5788.0,0,0,0,0,0
19,2019,Non-Hispanic American Indian/Alaskan,Nueces,1012.0,0,0,0,0,0
20,2019,Non-Hispanic American Indian/Alaskan,STATE,107768.0,408,378.6,326.5,294.4,361.2

---

# Unemployment rate by Texas County 2015-2019

In [41]:
unemployment_df = pd.read_csv("Unemployment_Income/Unemployment_2015-2019.csv")
unemployment_df

                  County  2015  2016  2017  2018  2019
0    Anderson County, TX   4.0   4.3   3.7   3.1   2.9
1     Andrews County, TX   3.5   4.7   3.1   2.4   2.3
2    Angelina County, TX   5.6   5.9   5.1   4.4   4.0
3     Aransas County, TX   5.1   5.6   6.9   6.0   4.3
4      Archer County, TX   4.5   4.3   3.4   3.1   2.8
..                   ...   ...   ...   ...   ...   ...
249      Wood County, TX   5.3   5.3   4.7   4.3   3.9
250    Yoakum County, TX   3.8   4.8   3.6   2.9   2.9
251     Young County, TX   4.3   4.4   3.8   3.3   3.0
252    Zapata County, TX   7.7  10.8   7.5   5.6   5.0
253    Zavala County, TX  11.3  13.9  11.3   9.7   8.5

[254 rows x 6 columns]

---

# Annual Personal Income by TX County 2015-2019

In [39]:
api_df = pd.read_csv("Unemployment_Income/API_2015-2019.csv")
api_df

,County,Description,Unit,2015,2016,2017,2018,2019
0,"Anderson, TX",Personal income (thousands of dollars),Thousands of dollars,1868364,1918588,1939647,2008104,2114625
1,"Anderson, TX",Population (persons) 1/,Number of persons,57707,57644,58288,58201,57884
2,"Anderson, TX",Per capita personal income (dollars) 2/,Dollars,32377,33283,33277,34503,36532
3,"Andrews, TX",Personal income (thousands of dollars),Thousands of dollars,831177,728104,805103,926151,990376
4,"Andrews, TX",Population (persons) 1/,Number of persons,17928,17622,17424,17858,18581
...,...,...,...,...,...,...,...,...
757,"Zapata, TX",Population (persons) 1/,Number of persons,14324,14242,14047,13919,13960
758,"Zapata, TX",Per capita personal income (dollars) 2/,Dollars,29961,25634,27636,29323,29858
759,"Zavala, TX",Personal income (thousands of dollars),Thousands of dollars,334791,316165,323514,344038,358601
760,"Zavala, TX",Population (persons) 1/,Number of persons,11099,10706,10339,10125,9819
761,"Zavala, TX",Per capita personal income (dollars) 2/,Dollars,30164,29532,31291,33979,36521

---

# Gross Domestic Product by TX County 2015-2019

In [40]:
gdp_df = pd.read_csv("Unemployment_Income/GDP_county_2015-2019.csv")
gdp_df

,County,Description,Unit,2015,2016,2017,2018,2019
0,"Anderson, TX",Real GDP (thousands of chained 2012 dollars),Thousands of chained 2012 dollars,1665103.000,1716076.000,1760892.000,1820342.000,1889459.000
1,"Anderson, TX",Chain-type quantity indexes for real GDP,Quantity index,93.421,96.281,98.795,102.131,106.009
2,"Anderson, TX",Current-dollar GDP (thousands of current dolla...,Thousands of dollars,1721441.000,1788842.000,1868140.000,1978146.000,2089526.000
3,"Andrews, TX",Real GDP (thousands of chained 2012 dollars),Thousands of chained 2012 dollars,4842339.000,4950791.000,4993989.000,5048964.000,5163990.000
4,"Andrews, TX",Chain-type quantity indexes for real GDP,Quantity index,98.550,100.757,101.636,102.755,105.096
...,...,...,...,...,...,...,...,...
757,"Zapata, TX",Chain-type quantity indexes for real GDP,Quantity index,89.856,73.898,78.648,75.558,78.227
758,"Zapata, TX",Current-dollar GDP (thousands of current dolla...,Thousands of dollars,716440.000,543811.000,663709.000,692009.000,658697.000
759,"Zavala, TX",Real GDP (thousands of chained 2012 dollars),Thousands of chained 2012 dollars,1192850.000,1117977.000,999557.000,899507.000,1056527.000
760,"Zavala, TX",Chain-type quantity indexes for real GDP,Quantity index,209.725,196.561,175.741,158.150,185.757
761,"Zavala, TX",Current-dollar GDP (thousands of current dolla...,Thousands of dollars,676159.000,567342.000,610843.000,633347.000,634029.000