In [1]:
import pandas as pd 
from pathlib import Path

In [2]:
# All ethnicities broken out per year (2015-2019)

all_race_2015 = pd.read_csv("Each_Year_CSV/2015_all_sex_all_race.csv", skiprows=2).replace("~",0, regex=True)
all_race_2016 = pd.read_csv("Each_Year_CSV/2016_all_sex_all_race.csv", skiprows=2).replace("~",0, regex=True)
all_race_2017 = pd.read_csv("Each_Year_CSV/2017_all_sex_all_race.csv", skiprows=2).replace("~",0, regex=True)
all_race_2018 = pd.read_csv("Each_Year_CSV/2018_all_sex_all_race.csv", skiprows=2).replace("~",0, regex=True)
all_race_2019 = pd.read_csv("Each_Year_CSV/2019_all_sex_all_race.csv", skiprows=2).replace("~",0, regex=True)

In [3]:
# NH White broken out per year (2015-2019)

NHwhite_2015 = pd.read_csv("Each_Year_CSV/2015_all_sex_NHwhite.csv", skiprows=2).replace("~",0, regex=True)
NHwhite_2016 = pd.read_csv("Each_Year_CSV/2016_all_sex_NHwhite.csv", skiprows=2).replace("~",0, regex=True)
NHwhite_2017 = pd.read_csv("Each_Year_CSV/2017_all_sex_NHwhite.csv", skiprows=2).replace("~",0, regex=True)
NHwhite_2018 = pd.read_csv("Each_Year_CSV/2018_all_sex_NHwhite.csv", skiprows=2).replace("~",0, regex=True)
NHwhite_2019 = pd.read_csv("Each_Year_CSV/2019_all_sex_NHwhite.csv", skiprows=2).replace("~",0, regex=True)

In [4]:
# NH Black broken out per year (2015-2019)

NHblack_2015 = pd.read_csv("Each_Year_CSV/2015_all_sex_NHblack.csv", skiprows=2).replace("~",0, regex=True)
NHblack_2016 = pd.read_csv("Each_Year_CSV/2016_all_sex_NHblack.csv", skiprows=2).replace("~",0, regex=True)
NHblack_2017 = pd.read_csv("Each_Year_CSV/2017_all_sex_NHblack.csv", skiprows=2).replace("~",0, regex=True)
NHblack_2018 = pd.read_csv("Each_Year_CSV/2018_all_sex_NHblack.csv", skiprows=2).replace("~",0, regex=True)
NHblack_2019 = pd.read_csv("Each_Year_CSV/2019_all_sex_NHblack.csv", skiprows=2).replace("~",0, regex=True)

In [5]:
# Hispanic broken out per year (2015-2019)

hispanic_2015 = pd.read_csv("Each_Year_CSV/2015_all_sex_hispanic.csv", skiprows=2).replace("~",0, regex=True)
hispanic_2016 = pd.read_csv("Each_Year_CSV/2016_all_sex_hispanic.csv", skiprows=2).replace("~",0, regex=True)
hispanic_2017 = pd.read_csv("Each_Year_CSV/2017_all_sex_hispanic.csv", skiprows=2).replace("~",0, regex=True)
hispanic_2018 = pd.read_csv("Each_Year_CSV/2018_all_sex_hispanic.csv", skiprows=2).replace("~",0, regex=True)
hispanic_2019 = pd.read_csv("Each_Year_CSV/2019_all_sex_hispanic.csv", skiprows=2).replace("~",0, regex=True)

In [6]:
# NH Asian/PI broken out per year (2015-2019)

NHasianPI_2015 = pd.read_csv("Each_Year_CSV/2015_all_sex_NHasian-pi.csv", skiprows=2).replace("~",0, regex=True)
NHasianPI_2016 = pd.read_csv("Each_Year_CSV/2016_all_sex_NHasian-pi.csv", skiprows=2).replace("~",0, regex=True)
NHasianPI_2017 = pd.read_csv("Each_Year_CSV/2017_all_sex_NHasian-pi.csv", skiprows=2).replace("~",0, regex=True)
NHasianPI_2018 = pd.read_csv("Each_Year_CSV/2018_all_sex_NHasian-pi.csv", skiprows=2).replace("~",0, regex=True)
NHasianPI_2019 = pd.read_csv("Each_Year_CSV/2019_all_sex_NHasian-pi.csv", skiprows=2).replace("~",0, regex=True)

In [14]:
# Add "Year" and "Race" columns to DataFrame and concatenate DataFrames

df_list = []

def year_race_col (df, year, race):
    df["Year"] = year
    df["Race"] = race
    df.dropna(how="any", inplace=True)
    df_list.append(df)

year_race_col(all_race_2015, 2015, "All Races")
year_race_col(all_race_2016, 2016, "All Races")
year_race_col(all_race_2017, 2017, "All Races")
year_race_col(all_race_2018, 2018, "All Races")
year_race_col(all_race_2019, 2019, "All Races")

year_race_col(NHwhite_2015, 2015, "Non-Hispanic White")
year_race_col(NHwhite_2016, 2016, "Non-Hispanic White")
year_race_col(NHwhite_2017, 2017, "Non-Hispanic White")
year_race_col(NHwhite_2018, 2018, "Non-Hispanic White")
year_race_col(NHwhite_2019, 2019, "Non-Hispanic White")

year_race_col(NHblack_2015, 2015, "Non-Hispanic Black")
year_race_col(NHblack_2016, 2016, "Non-Hispanic Black")
year_race_col(NHblack_2017, 2017, "Non-Hispanic Black")
year_race_col(NHblack_2018, 2018, "Non-Hispanic Black")
year_race_col(NHblack_2019, 2019, "Non-Hispanic Black")

year_race_col(hispanic_2015, 2015, "Hispanic")
year_race_col(hispanic_2016, 2016, "Hispanic")
year_race_col(hispanic_2017, 2017, "Hispanic")
year_race_col(hispanic_2018, 2018, "Hispanic")
year_race_col(hispanic_2019, 2019, "Hispanic")

year_race_col(NHasianPI_2015, 2015, "Non-Hispanic Asian")
year_race_col(NHasianPI_2016, 2016, "Non-Hispanic Asian")
year_race_col(NHasianPI_2017, 2017, "Non-Hispanic Asian")
year_race_col(NHasianPI_2018, 2018, "Non-Hispanic Asian")
year_race_col(NHasianPI_2019, 2019, "Non-Hispanic Asian")

combined_df = pd.concat(df_list)
combined_df

,County,Population at Risk,Cases,Crude Rate,Age-adjusted Rate,95% Confidence Interval-Lower Limit,95% Confidence Interval-Upper Limit,Year,Race
0,Collingsworth,3007.0,0,0,0,0,0,2015,All Races
1,Blanco,11030.0,20,181.3,136.8,77.5,225.9,2015,All Races
2,Hall,3093.0,0,0,0,0,0,2015,All Races
3,Cottle,1437.0,0,0,0,0,0,2015,All Races
4,Mason,4063.0,0,0,0,0,0,2015,All Races
...,...,...,...,...,...,...,...,...,...
44,Orange,1108.0,0,0.0,0.0,0.0,0.0,2019,Non-Hispanic Asian
45,Parker,1230.0,0,0.0,0.0,0.0,0.0,2019,Non-Hispanic Asian
46,Hunt,1624.0,0,0.0,0.0,0.0,0.0,2019,Non-Hispanic Asian
47,Rockwall,3728.0,0,0.0,0.0,0.0,0.0,2019,Non-Hispanic Asian
48,STATE,1574712.0,739,46.9,47.7,44.2,51.3,2019,Non-Hispanic Asian

In [15]:
combined_df_reindex = combined_df.reindex(columns=[
    "Year", "Race", "County", "Population at Risk", 
    "Cases", "Crude Rate", "Age-adjusted Rate", 
    "95% Confidence Interval-Lower Limit", 
    "95% Confidence Interval-Upper Limit"])

In [16]:
combined_df_reindex

,Year,Race,County,Population at Risk,Cases,Crude Rate,Age-adjusted Rate,95% Confidence Interval-Lower Limit,95% Confidence Interval-Upper Limit
0,2015,All Races,Collingsworth,3007.0,0,0,0,0,0
1,2015,All Races,Blanco,11030.0,20,181.3,136.8,77.5,225.9
2,2015,All Races,Hall,3093.0,0,0,0,0,0
3,2015,All Races,Cottle,1437.0,0,0,0,0,0
4,2015,All Races,Mason,4063.0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
44,2019,Non-Hispanic Asian,Orange,1108.0,0,0.0,0.0,0.0,0.0
45,2019,Non-Hispanic Asian,Parker,1230.0,0,0.0,0.0,0.0,0.0
46,2019,Non-Hispanic Asian,Hunt,1624.0,0,0.0,0.0,0.0,0.0
47,2019,Non-Hispanic Asian,Rockwall,3728.0,0,0.0,0.0,0.0,0.0
48,2019,Non-Hispanic Asian,STATE,1574712.0,739,46.9,47.7,44.2,51.3